#cloud-config
# chpasswd: { expire: False }
ssh_pwauth: true
disable_root: false
users:
  - name: root
    lock_passwd: false
    ssh_authorized_keys:
      - {{ root_key }}  # Add your SSH key here
runcmd:
  - echo 'PermitRootLogin yes' >> /etc/ssh/sshd_config
  - echo 'PasswordAuthentication yes' >> /etc/ssh/sshd_config
  - systemctl restart ssh
  - dhclient eth0  # Ensure DHCP assigns an IP
network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
